.App {
  text-align: center;
  background-color: #DAE1E7;
}

.App-header {
  background-color: #142850;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #DAE1E7;
}

.App-brand {
    grid-column: 1/3;
    grid-row: 1;
}

.App-link-bar {
    grid-column: 2/3;
    grid-row: 1;
    font-size: .75em;
}

.App-link-bar * {
    display: inline;
}

.App-link-bar li {
    padding: 1em;
}

.App-link-bar li:hover {
    background-color: #00909E
}

.App-link-bar a {
    text-decoration: none;
}

.App-status-bar {
    grid-column: 3/3;
    grid-row: 1;
    font-size: .75em;
}

.App-link {
  color: #DAE1E7;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
    background-color: #27496D;
}

.App-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    /* background-color: #DAE1E7; */
    background: linear-gradient(#142850, #27496D);     
}

.card-container {
	text-align: center;
	padding: 1em;
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #DAE1E7;
}

.outer-card {
	display: inline-block;
}

.answer-container {
	padding: 1em;
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: center;
    background-color: #DAE1E7;
}

.card {
    border: solid 1px;
    border-radius: .6em;
    width: 6.6em;
    height: 9.2em;
    background-color: #FFFFFF;
    box-shadow: .5em .5em .4em #142850;
	padding-top: 1em;
	font-size: 2em;
	color: #142850;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.numerator-section {
  grid-column: 2 / 3;
  grid-row: 1;
}

.denominator-section {
  grid-column: 2 / 3;
  grid-row: 2;
}

.operator-section {
  grid-column: 1 / 3;
  grid-row: 2;
}

.answer-section {
	border-top: 2px solid;
	grid-column: 2;
	grid-row: 3;
}

.category-section {
  font-size: .3em;
  grid-column: 2 / 3;
  grid-row: 1;
}

.text-section {
  font-size: .6em;
  grid-column: 2 / 3;
  grid-row: 2;
}

.footer-section {
  font-size: .3em;
  grid-column: 2 / 3;
  grid-row: 3;
}

.card.back {
  background-color: #EEEEEE;
}


.setup-container {
	padding: 2em;
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #DAE1E7;
    border-radius: .5em;
}

.setup-container .radio__label {
    display: inline;
    padding-right: 1em;
}

.setup-container label {
    display: block;
    padding-top: 1em;
    padding-bottom: .25em;

    color: #142850;
}

.setup-container input[type='submit'] {
    margin-top: 1em;
    padding: .25em;
    display: block;
}
